@using ITicket.Models
@model ChamadoUsuarioViewModel

@{
    ViewData["Title"] = "Abrir Chamado";   
    
}


    <div class="container">
        @{
        var message = TempData["Message"] as string;
        if (!string.IsNullOrEmpty(message))
        {
            <div class="alert alert-success">
                @message
            </div>
        }

        if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
        }
    }
    <div class="w-50 mx-auto"></div>
    <form action="/Chamado/AbrirChamado" method="post" enctype="multipart/form-data">       
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="solicitante" class="form-label">Solicitante:</label>
                <input type="text" class="form-control" id="solicitante" name="Solicitante" value="@(Model.Usuario?.Nome)" readonly>
            </div>
            
            <div class="col-md-4 mb-3">
                <label for="departamento" class="form-label">Departamento:</label>
                <input type="text" class="form-control" id="departamento" name="Departamento" value="@Model.Usuario?.Departamento" readonly>
            </div>
            <div class="col-md-4 mb-3">
                <label for="cargo" class="form-label">Cargo:</label>
                <input type="text" class="form-control" id="cargo" name="Cargo" value="@Model.Usuario?.Cargo" readonly>
            </div>
            <div class="col-md-4 mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="text" class="form-control" id="email" name="Email" value="@Model.Usuario?.Email" readonly>
            </div>
                                   
                <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="tipoServico" class="form-label">Tipo de Serviço:</label>
                    <select class="form-select" id="tipoServico" name="Servico.Descricao">
                        @foreach (var servico in Model.Servico)
                        {
                            <option value="@servico">@servico</option>
                        }
                    </select>
                </div>
            
                <div class="col-md-6 mb-3">
                    <label for="Massivo" class="form-label">Afeta mais de um usuário:</label>
                    <select class="form-select" id="Massivo" name="Massivo">
                        <option value="sim">Sim</option>
                        <option value="nao">Não</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label for="prioridade" class="form-label">Prioridade:</label>
                    <input type="text" class="form-control" id="prioridade" name="Prioridade" value="@Model.Chamado.Prioridade" readonly>
                </div>
            </div>

            <script>
                $(document).ready(function() {
                    $('#tipoServico, #Massivo').change(function() {
                        var descricao = $('#tipoServico').val();
                        var massivo = $('#Massivo').val() === 'sim';

                        
                        $.get('/Chamado/GetPriorityForDescription?descricao=' + descricao, function(prioridade) {
                            if (massivo) {
                                if (prioridade === 'Alta' || prioridade === 'Media') {
                                    prioridade = 'Alta';
                                } else if (prioridade === 'Baixa') {
                                    prioridade = 'Media';
                                }
                            }

                            $('#prioridade').val(prioridade);
                        });
                    });
                });
            </script>
                <div class="mb-3">
                    <label for="titulo" class="form-label">Titulo:</label>
                    <input type="text" class="form-control" id="titulo" name="Titulo" required>
                </div>
                <div class="mb-3">
                    <label for="descricao" class="form-label">Descrição do Problema:</label>
                    <textarea class="form-control" id="descricao" rows="3" maxlength="500" name="Descricao" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="arquivo" class="form-label">Upload de Arquivo:</label>
                    <div class="d-flex">
                        <input type="file" class="form-control me-2" id="arquivo" name="Arquivo">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </div>
                
            </form>
    </div>