@model List<ITicket.Models.ChamadoView>

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Seu Título</title>

    <!-- CSS do Bootstrap 4 (via CDN) -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Biblioteca de ícones do Bootstrap (via CDN) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 

    <!-- JavaScript do Bootstrap 4 (via CDN, necessário para alguns recursos do Bootstrap) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-3">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Menu
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-controller="Home" asp-action="MinhaConta">Minha Conta</a>
                            <a class="dropdown-item" asp-controller="Home" asp-action="Administracao">Administração</a>
                        </div>
                    </li>
                </ul>
                <a class="btn btn-primary" asp-action="AbrirChamado" asp-controller="Chamado">
                    Abrir Chamado
                </a>
            </div>
        </div>
    </nav>

   

    <script>
        $(document).ready(function() {
            if (sessionStorage.getItem("isAuthenticated") !== "true") {
                $('#loginModal').modal('show');
            }
        });
    </script>

    
<script>
    $(document).ready(function() {
        if (sessionStorage.getItem("isAuthenticated") !== "true") {
            $('#loginModal').modal('show');
        }
    });
</script>



    <div class="text-center">
        <h2>Consultar Chamado</h2>
        <br>
        <br>
        <form>
          <div class="input-group">
            <select id="filtro" class="form-control">
                <option value="IdChamado">Todos</option>
                <option value="IdChamado">Nr. Chamado</option>
                <option value="Abertura">Data de Abertura</option>
                <option value="Solicitante">Criado Por</option>
                <option value="Status">Status</option>
                <option value="HoraLimite">SLA</option>
            </select>
            <input type="text" class="form-control" id="texto-exemplo" placeholder="Enter search value">
            <input type="text" class="form-control d-none" id="data-inicio" placeholder="Data de Início">
            <input type="text" class="form-control d-none" id="data-fim" placeholder="Data de Fim">
            <button id="filtrar-button" class="btn btn-primary">Filtrar</button>
        </div>
        
        </form>

        <div class="container mt-5">
            <div class="text-center">
                <h2>Histórico de Chamados</h2>
            </div>
            <table class="table mt-3">
                <thead>
                    <tr>
                        <th scope="col"><a href="@Url.Action("Index", new { sort = "IdChamado" })">NR.CHAMADO</a></th>
                        <th scope="col"><a href="@Url.Action("Index", new { sort = "Abertura" })">DATA DE ABERTURA</a></th>
                        <th scope="col"><a href="@Url.Action("Index", new { sort = "Solicitante" })">CRIADO POR</a></th>
                        <th scope="col"><a href="@Url.Action("Index", new { sort = "Status" })">STATUS</a></th>
                        <th scope="col"><a href="@Url.Action("Index", new { sort = "HoraLimite" })">SLA</a></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var chamado in Model) {
                        <tr>
                            <td>@chamado.IdChamado</td>
                            <td>@chamado.Abertura</td>
                            <td>@chamado.Solicitante</td>
                            <td>@chamado.Status</td>
                            <td>@chamado.HoraLimite</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
       <div class="pagination">
            <a href="@Url.Action("Index", new { page = 1, filtro = ViewBag.Filtro, valor = ViewBag.Valor })">First</a>
            <a href="@Url.Action("Index", new { page = ViewBag.Page - 1, filtro = ViewBag.Filtro, valor = ViewBag.Valor })">Previous</a>
            <a href="@Url.Action("Index", new { page = ViewBag.Page + 1, filtro = ViewBag.Filtro, valor = ViewBag.Valor })">Next</a>
        </div>


    </div>








   

    

    <!-- Seu script de inicialização do datepicker -->
    <script>
        var urlAction = '@Url.Action("Index")';

        $(document).ready(function() {
            $('#filtro').on('change', function() {
                var selectedOption = $(this).val();

                if (selectedOption === 'Abertura' || selectedOption === 'HoraLimite') {
                    $('#texto-exemplo').addClass('d-none');
                    $('#data-inicio, #data-fim').removeClass('d-none').datepicker();
                } else {
                    $('#texto-exemplo').removeClass('d-none');
                    $('#data-inicio, #data-fim').addClass('d-none');
                }
            });

            $('#filtrar-button').on('click', function(e) {
                e.preventDefault();

                var selectedOption = $('#filtro').val();
                var inputValue = selectedOption === 'Abertura' || selectedOption === 'HoraLimite' ? $('#data-inicio').val() + ' - ' + $('#data-fim').val() : $('#texto-exemplo').val();

                window.location.href = urlAction + '?filtro=' + selectedOption + '&valor=' + inputValue;
            });
        });
    </script> 
    
    

    
    <script>

        
           $(document).ready(function() {
                $('#filtrar-button').on('click', function(e) {
                    e.preventDefault(); // Prevent the form from submitting

                    var selectedOption = $('#filtro').val(); // Get the selected option from the dropdown
                    var inputValue = $('#texto-exemplo').val(); // Get the input value

                    // Redirect to the Index action with the selected option and input value as parameters
                    window.location.href = '@Url.Action("Index")?filtro=' + selectedOption + '&valor=' + inputValue;
                });
            });

    

    <script>  
        $(document).ready(function () {
            $('#loginForm').submit(function (event) {
                event.preventDefault(); // Impede o envio padrão do formulário

                $.ajax({
                    url: $(this).attr('action'), // Obtém o URL de destino do formulário
                    method: $(this).attr('method'), // Obtém o método do formulário (POST neste caso)
                    data: $(this).serialize(), // Obtém os dados do formulário
                    success: function (response) {
                        console.log(response);
                        // Lida com a resposta do servidor
                        if (response.ok) {
                            localStorage.setItem("isAuthenticated", "true");
                            $('#loginModal').modal('hide');
                            window.location.href = '/Home/Index';
                        } else {
                            alert('Credenciais inválidas. Tente novamente.');
                        }
                    },
                    error: function () {
                        alert('Ocorreu um erro ao processar a solicitação. Tente novamente mais tarde.');
                    }
                });
            });
        });
    </script>
        

</body>
</html>
